.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;

}

body{
  margin:0px;
}

.navDrawer {
  top: 110px;
  width: 300px !important;
  box-shadow: none;
  border: 2px solid yellowgreen !important;
}
.navDrawer aside{
  top: 110px;
  position: fixed;
  box-shadow: none !important;
  width:300px !important;
  border: 2px solid yellowgreen !important;

}
.listItem span {
  min-height:0px;
}
.list {
  padding: 0px !important;
  overflow-y: scroll;
}
.listItem{
  height: 50px;
  margin: 0px;
  padding: 0px;
}
.listItem > span{
  height: 50px;
  margin: 0px;
  padding: 0px;
}
.navBar {
  width: 500px;
  box-shadow: none;
}
.search-bar {
  margin-top:100px;
}
.appBar {
  width: 100%;
  height: 100px !important;
  position: fixed;
  padding: 0 !important;
  box-shadow: none !important;
  background-color: #8BC34A !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;

  /*background-color: rgba(255, 193, 5, 0.53) !important;*/
  /*background-color: rgba(255, 193, 5, 0.53) !important;*/

}
.style__circular___2yZZn {
  padding-top: 40px !important;
}
.style__itemText___1-x0g {
  font-size: 12px !important;
  white-space: normal;
}
.style__image___37utY {
  height:30px !important;
  width:30px !important;
}
.style__avatar___3mVo5 {
  height:30px !important;
  width:30px !important;
}
 /* handles shadow overlay */
.style__itemContentRoot___342aU {
  height:50px !important;
}
.sideBar {
  position: fixed !important;
  width: 250px;
  height: 500px;
}
.commentForm {
  position:absolute;
  bottom:0;
  left: 0;
  padding: 20px;
  font-size: larger;
}
.chats {
  overflow: scroll;
  padding: 20px;
}

.songPlayer {
  margin: 0 auto;
  width: 600px;
}

.temperature {
  width: 0px;
  background-color: blue;
  height: 20px;
  margin: 10px;
  transition: width 1s, background-color 1s;
  border-radius: 25px;
}
input {
  border: 5px solid yellowgreen;
  width: 200px;
}

.chatButton {
  right: 0px;
}

.dictatorIs {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 0 20px;
  font-size: 1.4rem;
}

Card {
  box-shadow: none;
  border: 2px solid yellowgreen;
}

.room {
  display: inline-block;
}

.navSpan {
  display: inline-block;
}

